
/* #Media
================================================== */

@media (max-width: 767px) { 

    .header__logo{
        margin-left: ;
    }
	.nav-item:after{
		display: none;
	}
	.nav-item::before {
		position: absolute;
		display: block;
		top: 15px;
		left: 0;
		width: 11px;
		height: 1px;
		content: "";
		border: none;
        background-color: #212529;
	}
	.dropdown-toggle::after {
		position: absolute;
		display: block;
		top: 10px;
		left: 423px;
		width: 1px;
		height: 11px;
		content: "";
		border: none;
        background-color: #212529;
		transition: all 200ms linear;
	}
	.dropdown-toggle[aria-expanded="true"]::after{
		transform: rotate(90deg);
		opacity: 0;
	}
	.dropdown-menu {
		padding: 0 !important;
		background-color: transparent;
		box-shadow: none;
		transition: all 200ms linear;
	}
	.dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
		margin-top: 10px !important;
		margin-bottom: 20px !important;
	}}