
/* #Media
================================================== */

@media (max-width: 767px) { 

    .header__logo{
        margin-left: 0px;
    }
	.nav-item:after{
		display: none;
	}
	.nav-item::before {
		position: absolute;
		display: block;
		top: 15px;
		left: 0;
		width: 1px;
		height: 1px;
		content: "";
		border: none;
        background-color: #212529;
	}
	.dropdown-toggle::after {
		position: absolute;
		display: block;
		top: 10px;
		left: 423px;
		width: 1px;
		height: 0px;
		content: "";
		border: none;
        background-color: #212529;
		transition: all 200ms linear;
	}
	.dropdown-toggle[aria-expanded="true"]::after{
		transform: rotate(90deg);
		opacity: 0;
	}
	.dropdown-menu {
		padding: 0 !important;
		background-color: transparent;
		box-shadow: none;
		transition: all 200ms linear;
	}
	.dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
		margin-top: 10px !important;
		margin-bottom: 20px !important;
	}

	#acerca .tipo__acerca--left-txt{
		font-family: 'Jost', sans-serif;
		font-size: 0.9rem;
		font-weight: 400;
		text-align:left;
		justify-content: start;
		margin-bottom: 3rem;
		line-height: 1.2rem;
		color: #0d1b2b;
		
	}
}
