.whatsapp__sass {
    position:fixed;
    width:60px;
    height:60px;
    bottom:17%;
    right:150px;
    background-color:$whats_click;
    border-color:$blanco__principal;
    color:$blanco__principal;
    border-radius:50px;
    text-align:center;
    font-size:2rem;
    z-index:100;
    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
    
    &.whatsapp__sass:hover{
        background-color:$whats_hover;
        color:$blanco__principal;
    }
.whatsapp-icon {
    margin-top:14px;
}
}
.contacto__sass--btn{
    width: 90px;
    margin-top: 40px;
    margin-left: 60px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    padding: 8px 8px 8px 8px;
    border: none;
    -webkit-border-radius: 25px;
    border-radius: 0px;
    font-family: $tipo__nav;
    font-style: normal;
    font-size: 0.9rem;
    font-weight: 600;
    background:$rojo__terra;
    color: $blanco__secundario;
    text-align: center;
    letter-spacing: 0.2rem;
    -o-text-overflow: clip;
    text-overflow: clip;
    -webkit-transition: background 0.2s cubic-bezier(0.25, 0.25, 0.75, 0.75);
    -moz-transition: background 0.2s cubic-bezier(0.25, 0.25, 0.75, 0.75);
    -o-transition: background 0.2s cubic-bezier(0.25, 0.25, 0.75, 0.75);
    transition: background 0.2s cubic-bezier(0.25, 0.25, 0.75, 0.75);
    display: block;
    transition: all 2s;       

  
    &:hover {
        color: $blanco__secundario;
        text-decoration: none;
        background-color:$rojo__btn;
  
  }}

/*boton link*/

  $bg: #052c48;
  $white:#052c48;
  $black: $gradient__lilamarillo;


  
  @mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
    transition: $property $duration $ease;
  }
  
  * {
    box-sizing: border-box;
    &::before, &::after {
      box-sizing: border-box;
    }
  }
  
  
  button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    text-decoration: none;

    &.learn-more {
      width: 11rem; 
      height: auto;
      .circle {
        @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
        position: relative;
        margin: 0;
        width: 3rem;
        height: 3rem;
        background: $black;
        border-radius: 1.5rem;
        .icon {
          @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          background: $white;
          &.arrow {
            @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
            left: 0.75rem;
            width: 1.125rem;
            height: 0.125rem;
            background: none;
            &::before {
              position: absolute;
              content: '';
              top: -0.25rem;
              right: 0.06rem; /*posición linea*/
              width: 0.625rem;
              height: 0.625rem;
              border-top: 0.125rem solid #052c48;
              border-right: 0.125rem solid #052c48;
              transform: rotate(45deg);
            }
          }
        }
      }
      a{
        text-decoration: none;
        color: $white;

      }
      .button-text {
        @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0.75rem 0;
        margin: 0 0 0 1.7rem;
        color: $black;
        font-weight: 700;
        line-height: 1.6;
        text-align: center;
        text-decoration: none;

      }
    }
    &:hover {
      .circle {
        width: 105%;
        .icon {
          &.arrow {
          background: $white;
          transform: translate(1rem, 0);
          }
        }
      }
      .button-text {
        color: $white;
        font:  $tipo__nav;
        text-decoration: none;
      }
    }
  }
  

