
.caja__tipo--index{
    padding-top:140px;
}
.iv__index{
    font-family: $tipo__play;
    color:$blanco__secundario;
    font-size: 3rem;
}

/*extend*/



/* ----------------------------------------
 * animation fade-in Animista
 * ----------------------------------------*/
 .fade-in {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
 
@-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
/*animación cezanne*/

#alberti .tipo__destacado--alberti{
    font-family: $tipo__play;
    color:$negro;
    font-size: 0.9rem;
    font-weight: 500;
    font-style: italic;
    font-kerning: none;
    line-height: 1.4rem;
    z-index: 3;
}

.tipo__copyright--alberti{
    @extend .tipo__destacado--alberti;
    font-weight: 700;
    padding-bottom: 20px;

}
.tipo__letra--capital-alberti{
  font-family: $tipo__play;
  color:$negro;
  font-size: 7rem;
  font-weight: 800;
}

.tipo__hero--scroll{
    font-family: $tipo__play;
    color:$blanco__principal;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    font-kerning: auto;
}

#acerca .tipo__acerca--right-tit{
    font-family: $tipo__play;
    color: $azul__principal;
    font-size: 6rem;
    font-weight: 800;
    font-style: italic;
    text-align:left;
    letter-spacing: 20px;
    flex-wrap: row;
    letter-spacing: 1px;
}
#acerca .tipo__acerca--left-link{
    @extend .tipo__acerca--right-tit;
    color: $rojo__principal;
    font-size: 1rem;
    font-weight:600;
    
    &:hover{
    color: $bordo__principal;
}}

@mixin sizes($width, $height) {
    height: $height;
    width: $width;
 }
 #alberti .cezanne  {
    @include sizes(320px, 320px);
    border-radius: 50%;
    position: absolute; 
    background-color: $lila__principal;
    z-index: 1; 
    margin-left: 1rem;
 }

 