/*PALETA*/
/*background color*/
$blanco__principal: #f6f5f3;
$blanco__secundario:#cecece;
$lila__principal:#ac8fac;
$lila__secundario: #b09ab0;
$lila__amarillo: #b9a659;

$brown__principal: #a28570;
$brown__secundario: #937a68;
$mostaza__principal: #ae952e;
$amarillo__naranja: #f09f3d;


$azul__principal:#052c48;
$azul__secundario:#084977;

/*color texto*/
$negro:#31383f!default;

/*placeholder*/
$bordo__principal: #7e1e1b;
$rojo__btn: #9d2021;
$rojo__secundario: #aa3232;

$rojo__principal: #c4373c;
$rojo__terracota:#b9635d;
$rojo__terra:#7a3116;
$mostaza__principal2: #ae6638;



$rosa__dior:#e0aab6;



/*zocalos*/
$gris__zocalo: #7c8e95;
$rojo__zocalo: linear-gradient(#c4373c, #9d2929);

/*botones*/
$whats_click:#0ab39c;
$whats_hover:#03da72;

/*TIPOGRAFÍAS*/
$tipo__play: 'Playfair Display', serif;
$tipo__nav:'Nunito', sans-serif;
$tipo__epigrafe:'Jost', sans-serif;
$tipo-btn: normal 0.9rem/'Playfair Display', serif;
$parrafo__caracter--titulo: bold 0.9rem/'Playfair Display', serif;

/*margenes*/
$margen__index--h1: 5rem;
$margen__index--h3: $margen__index--h1/2;



