/*PALETA*/
/*background color*/
$blanco__principal: #f6f5f3;
$blanco__secundario:#e5e5e5;

$blanco__secundario:#cecece;
$lila__principal:#ac8fac;
$lila__secundario: #b09ab0;

$brown__principal: #a28570;
$azul__principal:#052c48;

/*color texto*/
$negro:#31383f!default;

/*placeholder*/
$bordo__principal: #7e1e1b;
$rojo__btn: #9d2021;
$rojo__principal: #c4373c;
$rojo__terracota:#b9635d;

/*zocalos*/
$gris__zocalo: #7c8e95;
$rojo__zocalo: linear-gradient(#c4373c, #9d2929);

/*botones*/
$whats_click:#00c0a5;
$whats_hover:#00e676;

/*TIPOGRAFÍAS*/
$tipo__play: 'Playfair Display', serif;
$tipo__nav:'Nunito', sans-serif;
$tipo__epigrafe:'Jost', sans-serif;
$tipo-btn: normal 0.9rem/'Playfair Display', serif;

/*margenes*/
$margen__index--h1: 5rem;
$margen__index--h3: $margen__index--h1/2;
