@charset "UTF-8";
/*PALETA*/
/*background color*/
/*zocalos*/
/*color texto*/
/*placeholder*/
/*botones*/
/*TIPOGRAFÍAS*/
/*margenes*/
/*interlinea-interletra*/
/*color filtro*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.whatsapp__sass {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 17%;
  right: 150px;
  background-color: #0ab39c;
  border-color: #f6f5f3;
  color: #f6f5f3;
  border-radius: 50px;
  text-align: center;
  font-size: 2rem;
  z-index: 100;
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}

.whatsapp__sass.whatsapp__sass:hover {
  background-color: #03da72;
  color: #f6f5f3;
}

.whatsapp__sass .whatsapp-icon {
  margin-top: 14px;
}

.contacto__sass--btn {
  width: 90px;
  margin-top: 40px;
  margin-left: 60px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 8px 8px 8px 8px;
  border: none;
  border-radius: 0px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-size: 0.9rem;
  font-weight: 600;
  background: #7a3116;
  color: #cecece;
  text-align: center;
  letter-spacing: 0.2rem;
  text-overflow: clip;
  -webkit-transition: background 0.2s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: background 0.2s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  display: block;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.contacto__sass--btn:hover {
  color: #cecece;
  text-decoration: none;
  background-color: #9d2021;
}

/*boton link*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  text-decoration: none;
}

button.learn-more {
  width: 11rem;
  height: auto;
}

button.learn-more .circle {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: -webkit-gradient(linear, right top, left top, from(#b9a659), to(#ac8fac));
  background: linear-gradient(270deg, #b9a659, #ac8fac);
  border-radius: 1.5rem;
}

button.learn-more .circle .icon {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #052c48;
}

button.learn-more .circle .icon.arrow {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.75rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: '';
  top: -0.25rem;
  right: 0.06rem;
  /*posición linea*/
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #052c48;
  border-right: 0.125rem solid #052c48;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

button.learn-more a {
  text-decoration: none;
  color: #052c48;
}

button.learn-more .button-text {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.7rem;
  color: linear-gradient(270deg, #b9a659, #ac8fac);
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-decoration: none;
}

button:hover .circle {
  width: 105%;
}

button:hover .circle .icon.arrow {
  background: #052c48;
  -webkit-transform: translate(1rem, 0);
          transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #052c48;
  font: "Nunito", sans-serif;
  text-decoration: none;
}

/*FOOTER*/
.lamedia {
  color: #31383f;
  padding-bottom: 1rem;
  text-align: center;
}

.lamedia:hover {
  color: #cecece;
}

.tipo__titulo, .tipo__titulo--acerca, .tipo__titulo--obra, .tipo__titulo--crono, .tipo__titulo--muestra, .tipo__titulo--contacto, .tipo__titulo--404 {
  font-family: "Playfair Display", serif;
  font-size: 6rem;
  font-weight: 800;
  font-style: italic;
  text-align: left;
  letter-spacing: 6px;
  line-height: 0.5rem;
  position: relative;
  padding-bottom: 1rem;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  line-height: 1;
}

.tipo__titulo--acerca {
  color: #ac8fac;
}

.tipo__titulo--obra {
  color: #052c48;
  margin-top: 2rem;
}

.tipo__titulo--crono {
  color: #9d2021;
  letter-spacing: 4px;
  margin-bottom: 2rem;
  margin-left: -2rem;
  margin-top: 1rem;
}

.tipo__titulo--muestra {
  color: #263340;
  margin-bottom: 2rem;
  line-height: 1;
  font-weight: 800;
  text-align: left;
  z-index: 100;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

.tipo__titulo--contacto {
  color: #052c48;
  margin-bottom: 0rem;
}

.tipo__titulo--404 {
  color: #7e1e1b;
  text-align: center;
  font-size: 10rem;
  margin-left: -1rem;
  margin-bottom: 2rem;
  margin-top: 4rem;
}

/*768px*/
@media (max-width: 768px) {
  .tipo__titulo--crono {
    font-family: "Playfair Display", serif;
    font-size: 5.5rem;
    font-weight: 800;
    font-style: italic;
    text-align: left;
    letter-spacing: 6px;
    line-height: 0.5rem;
    position: relative;
    padding-bottom: 1rem;
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    line-height: 1;
    margin-left: 2rem;
  }
}

/* color corazón zócalo */
.change__color {
  color: #31383f;
  font-size: 1rem;
}

.change__color.change__color:hover {
  color: #cecece;
}

.line__inner {
  display: block;
}

.caja__tipo--index {
  padding-top: 140px;
}

.tipo__index, .tipo__index--iv, .tipo__index--bvnd, .tipo__index--desc, .tipo__acerca--link-hero, .tipo__hero--scroll, .tipo__index--bvnd-2 {
  font-size: 2rem;
  color: #cecece;
  padding-bottom: 1.5rem;
  margin-left: 2rem;
  margin-top: 5rem;
}

.tipo__index--iv, .tipo__index--bvnd, .tipo__index--desc, .tipo__acerca--link-hero, .tipo__hero--scroll {
  font-family: "Playfair Display", serif;
  font-style: italic;
  margin-bottom: 0rem;
  font-size: 4rem;
  text-align: left;
}

.tipo__index--bvnd {
  padding-bottom: 1rem;
  margin-top: 0rem;
  font-size: 1.5rem;
}

.tipo__index--bvnd-2 {
  font-size: 1.3rem;
  padding-top: 0rem;
  margin-top: 0.8rem;
  font-style: normal;
}

.tipo__acerca--link-hero {
  font-size: 1.2rem;
}

.tipo__acerca--link-hero:hover {
  color: #f09f3d;
}

.tipo__hero--scroll {
  font-size: 1.2rem;
}

/*extend*/
/* ----------------------------------------
 * animation fade-in Animista
 * ----------------------------------------*/
.fade-in {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*animación cezanne*/
#alberti .tipo__destacado--alberti, #alberti .tipo__copyright--alberti {
  font-family: "Playfair Display", serif;
  color: #31383f;
  font-size: 0.95rem;
  font-weight: 500;
  font-style: italic;
  -webkit-font-kerning: none;
          font-kerning: none;
  line-height: 1.4rem;
  z-index: 3;
}

.tipo__copyright--alberti {
  font-weight: 800;
  padding-bottom: 20px;
}

.tipo__letra--capital-alberti {
  font-family: "Playfair Display", serif;
  color: #31383f;
  font-size: 7rem;
  font-weight: 800;
}

.tipo__hero--scroll {
  font-family: "Playfair Display", serif;
  color: #f6f5f3;
  font-style: italic;
  font-weight: 400;
  text-align: center;
  -webkit-font-kerning: auto;
          font-kerning: auto;
}

#acerca .tipo__acerca--right-tit {
  font-family: "Playfair Display", serif;
  color: #052c48;
  font-size: 6rem;
  font-weight: 800;
  font-style: italic;
  text-align: left;
  -ms-flex-wrap: row;
      flex-wrap: row;
  letter-spacing: 1px;
}

#alberti .cezanne {
  height: 320px;
  width: 320px;
  border-radius: 50%;
  position: absolute;
  background-color: #ac8fac;
  z-index: 1;
  margin-left: 1rem;
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}

#alberti .cezanne:hover {
  height: 320px;
  width: 320px;
  border-radius: 50%;
  position: absolute;
  background-color: #b9a659;
  z-index: 1;
  margin-left: 1rem;
}

.tipo__obra--titulo {
  font-family: "Playfair Display", serif;
  color: #052c48;
  font-size: 2.5rem;
  font-weight: 800;
  text-align: left;
  letter-spacing: 2px;
  line-height: 0.5rem;
  position: relative;
  padding-bottom: 1rem;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  line-height: 1;
  font-style: italic;
}

.link a {
  text-decoration: none;
}

.tipo__link--right {
  font-family: "Playfair Display", serif;
  color: #052c48;
  font-style: italic;
  text-align: left;
  letter-spacing: 20px;
  -ms-flex-wrap: row;
      flex-wrap: row;
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: 600;
}

.tipo__link--right:hover {
  color: #084977;
}

:root {
  --text-color: #111;
  --bg-color: #b9b3a9;
}

.colorbg__muestra--celeston {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  max-width: 100%;
  width: 100%;
  overscroll-behavior: none;
  overflow-x: hidden;
  max-width: 100%;
}

.section__scroll:not(#sectionPin) {
  min-height: 80vh;
  width: 100%;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  padding: 50px 10vw;
  margin: auto;
  place-items: center;
}

.imgscroll {
  height: 80vh;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#sectionPin {
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  background: #31383f;
}

.pin-wrap {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 10vw;
}

.pin-wrap > * {
  min-width: 60vw;
  padding: 0 5vw;
}

.pscroll {
  position: absolute;
  bottom: 10vw;
  right: 10vw;
  width: 200px;
  line-height: 1.5;
}

/*slider muestra
/** base */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/** slider */
.slider {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

.slider:hover .slider__radiobox-label--prev,
.slider:hover .slider__radiobox-label--next {
  opacity: 1;
}

.slider:hover .slider__radiobox-label--prev {
  left: 6%;
}

.slider:hover .slider__radiobox-label--next {
  right: 6%;
}

.slider--full {
  width: 100vw;
  height: 100vh;
}

.slider--fixed {
  width: 600px;
  height: 400px;
}

.slider--proportional {
  width: 100%;
  height: auto;
}

.slider__inner {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  background: #f6f5f3;
}

.slider--full .slider__inner {
  width: 100%;
  height: 100%;
}

.slider--fixed .slider__inner {
  width: 100%;
  height: 100%;
}

.slider--proportional .slider__inner {
  width: 100%;
  height: 0;
}

.slider--proportional-4x3 .slider__inner {
  padding-top: 75%;
}

.slider--proportional-5x4 .slider__inner {
  padding-top: 80%;
}

.slider--proportional-16x9 .slider__inner {
  padding-top: 56.25%;
}

.slider__slides {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 400%;
  height: 100%;
  overflow-y: hidden;
  -webkit-transition: margin-left 0.4s;
  transition: margin-left 0.4s;
}

.slider__slide {
  display: block;
  float: left;
  position: relative;
  width: 25%;
  height: 100%;
}

.slider__slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider__radiobox-label {
  display: block;
  position: absolute;
  z-index: 2;
  cursor: pointer;
}

.slider__radiobox-label--item {
  bottom: 6%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 6px;
  border-radius: 50%;
  background: #7e1e1b;
  opacity: 0.3;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.slider__radiobox-label--item:hover {
  opacity: 0.5;
}

.slider__radiobox-label--item-1 {
  margin-left: -36px;
}

.slider__radiobox-label--item-2 {
  margin-left: -12px;
}

.slider__radiobox-label--item-3 {
  margin-left: 12px;
}

.slider__radiobox-label--item-4 {
  margin-left: 36px;
}

.slider__radiobox-label--prev, .slider__radiobox-label--next {
  display: none;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 10px;
  border: 10px solid #7e1e1b;
  border-top-color: transparent;
  border-bottom-color: transparent;
  opacity: 0;
  -webkit-transition: left 0.2s, right 0.2s, opacity 0.2s;
  transition: left 0.2s, right 0.2s, opacity 0.2s;
}

.slider__radiobox-label--prev {
  left: -6%;
  background: url("../img/prev.svg") no-repeat center center;
}

.slider__radiobox-label--next {
  right: -6%;
  background: url("../img/next.svg") no-repeat center center;
}

.slider__radiobox {
  display: none;
}

.slider__radiobox--1:checked ~ .slider__slides {
  margin-left: 0;
}

.slider__radiobox--2:checked ~ .slider__slides {
  margin-left: -100%;
}

.slider__radiobox--3:checked ~ .slider__slides {
  margin-left: -200%;
}

.slider__radiobox--4:checked ~ .slider__slides {
  margin-left: -300%;
}

.slider__radiobox--1:checked + .slider__radiobox-label--item-1,
.slider__radiobox--2:checked + .slider__radiobox-label--item-2,
.slider__radiobox--3:checked + .slider__radiobox-label--item-3,
.slider__radiobox--4:checked + .slider__radiobox-label--item-4 {
  opacity: 1;
}

.slider__radiobox--1:checked ~ .slider__radiobox-label--prev-4,
.slider__radiobox--1:checked ~ .slider__radiobox-label--next-2,
.slider__radiobox--2:checked ~ .slider__radiobox-label--prev-1,
.slider__radiobox--2:checked ~ .slider__radiobox-label--next-3,
.slider__radiobox--3:checked ~ .slider__radiobox-label--prev-2,
.slider__radiobox--3:checked ~ .slider__radiobox-label--next-4,
.slider__radiobox--4:checked ~ .slider__radiobox-label--prev-3,
.slider__radiobox--4:checked ~ .slider__radiobox-label--next-1 {
  display: block;
}

.container__contacto--titulo {
  padding-top: 13rem;
}

.contacto__txt--remember {
  font: "Jost", sans-serif;
  font-size: 0.9rem;
  padding-left: 3.3rem;
}
/*# sourceMappingURL=styles.css.map */