@charset "UTF-8";
/*PALETA*/
/*background color*/
/*color texto*/
/*placeholder*/
/*zocalos*/
/*botones*/
/*TIPOGRAFÍAS*/
/*margenes*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.whatsapp__sass {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 17%;
  right: 150px;
  background-color: #0ab39c;
  border-color: #f6f5f3;
  color: #f6f5f3;
  border-radius: 50px;
  text-align: center;
  font-size: 2rem;
  z-index: 100;
}

.whatsapp__sass.whatsapp__sass:hover {
  background-color: #03da72;
  color: #f6f5f3;
}

.whatsapp__sass .whatsapp-icon {
  margin-top: 14px;
}

.contacto__sass--btn {
  width: 90px;
  margin-top: 40px;
  margin-left: 60px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 8px 8px 8px 8px;
  border: none;
  border-radius: 0px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-size: 0.9rem;
  font-weight: 600;
  background: #7a3116;
  color: #cecece;
  text-align: center;
  letter-spacing: 0.2rem;
  text-overflow: clip;
  -webkit-transition: background 0.2s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: background 0.2s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  display: block;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.contacto__sass--btn:hover {
  color: #cecece;
  text-decoration: none;
  background-color: #9d2021;
}

.back-to-top {
  position: fixed;
  display: none;
  background: #007bff;
  color: #fff;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 1;
  font-size: 1rem;
  border-radius: 50%;
  right: 70px;
  bottom: 135px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  z-index: 11;
  border: 4px solid transparent;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.back-to-top.back-to-top:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.back-to-top.back-to-top:hover.back-to-top i {
  padding-top: 11px;
  color: #fff;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

/*FOOTER*/
.lamedia {
  color: #31383f;
  padding-bottom: 1rem;
  text-align: center;
}

.lamedia:hover {
  color: #cecece;
}

.tipo__titulo, .tipo__titulo--acerca, .tipo__titulo--obra, .tipo__titulo--crono, .tipo__titulo--muestra, .tipo__titulo--contacto {
  font-family: "Playfair Display", serif;
  font-size: 6rem;
  font-weight: 800;
  font-style: italic;
  text-align: left;
  letter-spacing: 6px;
  line-height: 0.5rem;
  position: relative;
  padding-bottom: 1rem;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  line-height: 1;
}

.tipo__titulo--acerca {
  color: #aa3232;
  overflow-wrap: break-word;
}

.tipo__titulo--obra {
  color: #052c48;
}

.tipo__titulo--crono {
  color: #9d2021;
  letter-spacing: 4px;
  margin-bottom: 2rem;
  margin-left: -2rem;
  margin-TOP: 1rem;
  font-size: 5rem;
}

.tipo__titulo--muestra {
  color: #506948;
  margin-bottom: 2rem;
  line-height: 1;
  font-weight: 800;
  margin-bottom: 1rem;
  z-index: 100;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

.tipo__titulo--contacto {
  color: #7a3116;
}

/* color corazón zócalo */
.change__color {
  color: #31383f;
  font-size: 1rem;
}

.change__color.change__color:hover {
  color: #ac8fac;
}

.line__inner {
  display: block;
}

.caja__tipo--index {
  padding-top: 140px;
}

.tipo__index, .tipo__index--iv, .tipo__index--bvnd, .tipo__index--desc, .tipo__acerca--link-hero, .tipo__hero--scroll, .tipo__index--bvnd-2 {
  font-size: 2rem;
  color: #cecece;
  padding-bottom: 1.5rem;
  margin-left: 2rem;
  margin-top: 5rem;
}

.tipo__index--iv, .tipo__index--bvnd, .tipo__index--desc, .tipo__acerca--link-hero, .tipo__hero--scroll {
  font-family: "Playfair Display", serif;
  font-style: italic;
  margin-bottom: 0rem;
  font-size: 4rem;
  text-align: left;
}

.tipo__index--bvnd {
  padding-bottom: 1rem;
  margin-top: 0rem;
  font-size: 1.5rem;
}

.tipo__index--bvnd-2 {
  font-size: 1.3rem;
  padding-top: 0rem;
  margin-top: 0.8rem;
  font-style: normal;
}

.tipo__acerca--link-hero {
  font-size: 1.2rem;
}

.tipo__acerca--link-hero:hover {
  color: #fd9d25;
}

.tipo__hero--scroll {
  font-size: 1.2rem;
}

/*extend*/
/* ----------------------------------------
 * animation fade-in Animista
 * ----------------------------------------*/
.fade-in {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*animación cezanne*/
#alberti .tipo__destacado--alberti, #alberti .tipo__copyright--alberti {
  font-family: "Playfair Display", serif;
  color: #31383f;
  font-size: 0.9rem;
  font-weight: 500;
  font-style: italic;
  -webkit-font-kerning: none;
          font-kerning: none;
  line-height: 1.4rem;
  z-index: 3;
}

.tipo__copyright--alberti {
  font-weight: 700;
  padding-bottom: 20px;
}

.tipo__letra--capital-alberti {
  font-family: "Playfair Display", serif;
  color: #31383f;
  font-size: 7rem;
  font-weight: 800;
}

.tipo__hero--scroll {
  font-family: "Playfair Display", serif;
  color: #f6f5f3;
  font-style: italic;
  font-weight: 400;
  text-align: center;
  -webkit-font-kerning: auto;
          font-kerning: auto;
}

#acerca .tipo__acerca--right-tit {
  font-family: "Playfair Display", serif;
  color: #052c48;
  font-size: 6rem;
  font-weight: 800;
  font-style: italic;
  text-align: left;
  letter-spacing: 20px;
  -ms-flex-wrap: row;
      flex-wrap: row;
  letter-spacing: 1px;
}

#alberti .cezanne {
  height: 320px;
  width: 320px;
  border-radius: 50%;
  position: absolute;
  background-color: #ac8fac;
  z-index: 1;
  margin-left: 1rem;
}

.tipo__obra--titulo {
  font-family: "Playfair Display", serif;
  color: #052c48;
  font-size: 2.5rem;
  font-weight: 800;
  text-align: left;
  letter-spacing: 2px;
  line-height: 0.5rem;
  position: relative;
  padding-bottom: 1rem;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  line-height: 1;
  font-style: italic;
}

.link a {
  text-decoration: none;
}

.tipo__link--right {
  font-family: "Playfair Display", serif;
  color: #052c48;
  font-style: italic;
  text-align: left;
  letter-spacing: 20px;
  -ms-flex-wrap: row;
      flex-wrap: row;
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: 600;
}

.tipo__link--right:hover {
  color: #084977;
}

:root {
  --text-color: #111;
  --bg-color: #b9b3a9;
}

.colorbg__muestra--celeston {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  max-width: 100%;
  width: 100%;
  overscroll-behavior: none;
  overflow-x: hidden;
  max-width: 100%;
}

.section__scroll:not(#sectionPin) {
  min-height: 80vh;
  width: 100%;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  padding: 50px 10vw;
  margin: auto;
  place-items: center;
}

.imgscroll {
  height: 80vh;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#sectionPin {
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  background: #31383f;
}

.pin-wrap {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 10vw;
}

.pin-wrap > * {
  min-width: 60vw;
  padding: 0 5vw;
}

.pscroll {
  position: absolute;
  bottom: 10vw;
  right: 10vw;
  width: 200px;
  line-height: 1.5;
}

.container__contacto--titulo {
  padding-top: 13rem;
}

.contacto__txt--remember {
  font: "Jost", sans-serif;
  font-size: 0.9rem;
  padding-left: 3.3rem;
}
/*# sourceMappingURL=styles.css.map */